html {
    background-image: url("../img/vinylblue.jpg");
    background-color: black;
    width: 100%;
    background-attachment: fixed;
    background-size: auto;
    color: #fbca38;
    text-align: center;
}

/* fonts & sizing */
@font-face {
    font-family: "jack";
    src: url(../fonts/cfjackstory-regular.ttf) format("truetype");
}

@font-face {
    font-family: "coffee";
    src: url(../fonts/djb_coffee_shoppe_espresso.ttf) format("truetype");
}

@font-face {
    font-family: "hellocasual";
    src: url(../fonts/hello_casual.ttf) format("truetype");
}

h2 {
    font-family: "jack";
    font-size: 1.8em;
}

header h2 {
    font-size: 2.2em;
}

h3 {
    font-family: "hellocasual";
    font-size: 1.8em;
}

h4 {
    font-family: "hellocasual";
    font-size: 1.8em;
    font-stretch: extra-expanded;
}

p,
li {
    font-family: "coffee";
    font-size: 1.2em;
}

/* nav bar */
nav li {
    list-style-type: none;
    color: #fbca38;
    padding: 5px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #ff0000;
    font-style: italic;
    text-decoration: underline;;
}

/*
nav ul {
    background-image: url(../img/chrome1.png);
    margin: 0;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 111111;
}
*/

.hamburgler-icon-wrapper {
    position: absolute;
    top: 1em;
    left: 1em;
    height: 26px;
    width: 26px;
    cursor: pointer;
}

.hamburgler-icon,
.hamburgler-icon::before,
.hamburgler-icon::after {
    content: '';
    position: absolute;
    border-radius: 1em;
    height: 2px;
    width: 26px;
    background: black;
    transition: all 0.2s ease;
}

.hamburgler-icon {
    top: 0.75em;
    left: 0.75em;
}

.hamburgler-icon::before {
    top: -0.55em;
    left: -0.01em;
}

.hamburgler-icon::after {
    top: 0.55em;
    left: -0.01em;
}

.hamburgler-active .hamburgler-icon {
    background: transparent;
    transform: rotate(-135deg);
}

.hamburgler-active .hamburgler-icon::before,
.hamburgler-active .hamburgler-icon::after {
    top: 0;
}

.hamburgler-active .hamburgler-icon::before {
    transform: rotate(90deg);
}

.hamburgler-active .hamburgler-icon,
.hamburgler-active .hamburgler-icon::before,
.hamburgler-active .hamburgler-icon::after {
    background: white;
}

.hamburgler-menu {
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    width: 100%;
}

.hamburgler-active .hamburgler-menu {
    opacity: 1;
    pointer-events: initial;
}

.hamburgler-menu-list {
    display: block;
    transition: all 0.4s ease;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
}

.hamburgler-active .hamburgler-menu-list {
    transform: translate(-50%, -50%) scale(1);
}


.hambugler-menu-list li {
    color: white;
    text-decoration: none;
}


/* parallax */
.parallax-window {
    min-height: 400px;
    background: transparent;
}

section {
    background-color: gray;
    padding: 20px;
    color: black;
}

header h2,
article {
    width: 80%;
    margin: auto;
}

hr {
    background-color: #ffffff;
    border: 40px dashed #2b2727;
    margin: 60px 0;
}

header img {
    width: 70%;
    text-align: center;
    margin: 20px;
}

header {
    width: 100%;
    text-align: center;
    margin: auto;
}

article img,
section img {
    width: 95%;
    text-align: center;
}

iframe {
    width: 90%;
}

.contact img {
    width: 20%;
}

footer img {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.italic {
    font-style: italic;
    display: block;
    color: red;
}

.hide {
    display: none;
}

/* buttons for menu description toggle */
button {
    position: relative;
    bottom: 0.2em;
    left: 1.4em;
    font-size: 0.8em;
    padding-bottom: 2px;
    font-family: "hellocasual";
}

button.toggle1 {
    left: 0.9em;
}
