html {
    background-image: url("../img/vinylblue.jpg");
    background-color: black;
    width: 100%;
    background-attachment: fixed;
    background-size: auto;
    color: black;
    text-align: center;
}

/* fonts & sizing */
@font-face {
    font-family: "jack";
    src: url(../fonts/cfjackstory-regular.ttf) format("truetype");
}

@font-face {
    font-family: "coffee";
    src: url(../fonts/djb_coffee_shoppe_espresso.ttf) format("truetype");
}

@font-face {
    font-family: "hellocasual";
    src: url(../fonts/hello_casual.ttf) format("truetype");
}

h2 {
    font-family: "jack";
    font-size: 3em;
}

header h2 {
    font-size: 2.4em;
    text-shadow: 0 0 5px gray;
}

h3 {
    font-family: "hellocasual";
    font-size: 2.8em;
    letter-spacing: 0.1em;
}

h4 {
    font-family: "hellocasual";
    font-size: 2.1em;
    font-stretch: extra-expanded;
}

p,
li {
    font-family: "coffee";
    font-size: 1.2em;
    line-height: 1.9em;
    font-weight: bold;
}

.subtext {
    font-size: 1.4em;
}

.italic,
.tagline,
.phone {
    font-style: italic;
    display: block;
    color: #f40000;
}

.tagline {
    color: #fbca38;
    text-shadow: 0 0 5px black;
}

.phone {
    font-size: 1.6em;
    font-style: oblique;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* nav bar */
nav li {
    list-style-type: none;
    color: #fbca38;
    padding: 5px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #ff0000;
    font-style: italic;
    text-decoration: underline;;
}

.hamburgler-icon-wrapper {
    position: absolute;
    top: 1em;
    left: 1em;
    height: 26px;
    width: 26px;
    cursor: pointer;
}

.hamburgler-icon,
.hamburgler-icon::before,
.hamburgler-icon::after {
    content: '';
    position: absolute;
    border-radius: 1em;
    height: 2px;
    width: 26px;
    background: black;
    transition: all 0.2s ease;
}

.hamburgler-icon {
    top: 0.75em;
    left: 0.75em;
}

.hamburgler-icon::before {
    top: -0.55em;
    left: -0.01em;
}

.hamburgler-icon::after {
    top: 0.55em;
    left: -0.01em;
}

.hamburgler-active .hamburgler-icon {
    background: transparent;
    transform: rotate(-135deg);
}

.hamburgler-active .hamburgler-icon::before,
.hamburgler-active .hamburgler-icon::after {
    top: 0;
}

.hamburgler-active .hamburgler-icon::before {
    transform: rotate(90deg);
}

.hamburgler-active .hamburgler-icon,
.hamburgler-active .hamburgler-icon::before,
.hamburgler-active .hamburgler-icon::after {
    background: white;
}

.hamburgler-menu {
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    width: 100%;
}

.hamburgler-active .hamburgler-menu {
    opacity: 1;
    pointer-events: initial;
}

.hamburgler-menu-list {
    display: block;
    transition: all 0.4s ease;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
}

.hamburgler-active .hamburgler-menu-list {
    transform: translate(-50%, -50%) scale(1);
}


.hambugler-menu-list li {
    color: white;
    text-decoration: none;
}


/* parallax */
.parallax-window {
    min-height: 400px;
    background: transparent;
}

section {
    background-color: #e6e6e6;
    padding: 20px;
    color: black;
}

header h2,
article {
    width: 80%;
    margin: auto;
}

hr {
    background-color: #ffffff;
    border: 40px dashed #2b2727;
    margin: 60px 0 0 0;
}

header img {
    width: 70%;
    text-align: center;
    margin: 20px;
}

header {
    width: 100%;
    text-align: center;
    margin: auto;
}

article img,
section img {
    width: 95%;
    text-align: center;
}

iframe {
    width: 90%;
}

.contact img {
    width: 25%;
}

footer img {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 15%;
}

/* buttons for menu description toggle */
button {
    position: relative;
    bottom: 0.2em;
    left: 1.4em;
    font-size: 0.8em;
    padding-bottom: 2px;
    font-family: "hellocasual";
    display: block;
}

button.toggle1 {
    left: 0.9em;
}

/* gallery */
.gallery {
    text-align: center;
}

.current-image-wrapper {
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.current-image-wrapper img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    opacity: 1;
    transition: opacity 1.85s;
}

.current-image-wrapper .hideme {
    opacity: 0;
    transition: opacity 0s;
}

.thumbnails li,
.thumbnails a,
.thumbnails img {
    display: inline-block;
    width: 4.5em;
    height: 3em;
    border: none;
}

.thumbnails a {
    outline: none;
}
